<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
        <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="https://d3js.org/topojson.v3.min.js"></script>
        <script src="javascripts/main.js"></script>
    </head>
    <body>
        Node.js Project

        <div class="d3"></div>
    </body>
</html>